{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Us</title>

    <style>
        #testimony-form {
            margin: auto;
            width: 30.5%;
            border-radius: 20px;
            padding-bottom: 20px;
        }

        #testimony-item {
            margin: auto;
            width: 40%;
        }

        .card-header {
            background: #5D5D5D;
        }

        .card-header span {
            color: white;
        }

        #submit-button {
            margin-top: 13px;
            padding: 8px 30px;
            background-color: #5D5D5D;
            color: white;
            border: 1px solid black;
            border-radius: 4px;
            cursor: pointer;
        }

        #submit-button:hover {
            background-color: #FDD831;
            color: black;
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

   <div class="jumbotron">
       <h1 class="display-3">About Us</h1>
       <hr class="my-4">
       <p class="lead font-weight-bold">We bring you the hottest events and news from our beloved campus!</p>
   </div>

    <div id="testimonies" class="container">
        <div class="row" id="testimony-rows">
            {% for item in testimonies %}
                <div id="testimony-item" class="card mb-3 text-center">
                    <div class="card-header">
                        <span>{{ item.user.username }}</span>
                    </div>
                    <div class="card-body">
                        <blockquote class="card-blockquote">
                            <p>{{ item.testimony }}</p>
                        </blockquote>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>

    {% if user.is_authenticated %}
            <div class="container-fluid">
                <form class="form-group" id="testimony-form" method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input id="submit-button" class="btn btn-dark" type="submit" value="Give Testimony">
                </form>
            </div>
    {% endif %}

    <footer>
        {% include 'footer.html' %}
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var csrfToken = jQuery("[name=csrfmiddlewaretoken]").val();
        var submitformURL = "{% url 'profile:add-testimony' %}";
    </script>
    <script src="{% static 'js/profile_script.js' %}"></script>
</body>
</html>