{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Detail Event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            font-family: Arial;
        }
        .register-button{
            color: black;
            padding: 5px;
            border:1px;
            border-style:solid;x
            width: 10vw;
            text-align:center;
            cursor:default;
            border-radius: 5px;
        }
        .register-button:hover{
            background-color: #FDD831;
            color: black;
            border: 1px solid black;
        }
        .modal-body {
            margin: 15vw;
            background-color: white;
            height: 80%;
            text-align: center;
            border-radius: 10px;
        }

    </style>
</head>
<body>

    <header>{% include 'navbar.html' %}</header>

    <h2 align="center">Register to This Event?</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ event.image }}" width="366px" height="366px" alt="event-image">
            </div>
            <div class="col">
                <h3 align="center">{{ event.title }}</h3>
                <p align="center"><i>Held by {{ event.organizer }}</i></p>
                <p>
                    "{{ event.description }}"
                </p> <br>

                {% if user.is_authenticated %}
                    {% if has_member %}
                        <img src="https://image.ibb.co/htiMWL/check.png" width="50px" height="50px">
                        <b>Berhasil ditambahkan dalam acara ini!</b>
                    {% else %}
                        <form action="{% url 'event_regist:event-detail' event_id=event.id %}" method="POST">
                            {% csrf_token %}
                            <input class="register-button" type="submit" value="REGISTER">
                        </form>
                    {% endif %}
                {% else %}
                    <div class="modal hide fade" id="myModal">
                        <div class="modal-body ">
                            <div style="padding-top:4vw; text-align:center">
                                <h1 style="text-shadow: 3px 3px #fdd730; font-weight:900;"> Hi! You haven't logged in yet </h1><br><br>
                            </div>
                            <div class="">

                                <div class="btton">
                                    <a href="{% url 'user_auth:signup' %}">
                                        <h1 style="text-shadow: 3px 3px #fdd730; font-weight:900; color: black; font-size:2vw;"> Sign Up </h1>
                                    </a>
                                </div>
                            </div>
                            <br><br><h1 style="text-shadow: 3px 3px #fdd730; font-weight:900;font-size:2vw;"> or </h1><br><br>
                            <div class="">

                                <div class="btton">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                                        <h1 style="text-shadow: 3px 3px #fdd730; font-weight:900; color:black;font-size:2vw;"> Sign In with Google </h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if users %}
    <div class="container">
        <h4>Registered Participants</h4>
        <div class="row">
            {% for member in users %}
                <div class="col-sm">
                    {% if member.username %}
                        <p>{{ forloop.counter }}. {{ member.username }}</p>
                    {% else %}
                        <p>{{ forloop.counter }}. {{ member.related_member.username }}</p>
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:5 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {% endif %}

    <footer>{% include 'footer.html' %}</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
    </script>
</body>
</html>
