{% extends 'base.html' %}

{% block content %}
    <header>
        {% include 'navbar.html' %}
    </header>
<div class="content text-center">
    <div class="container" id="upcoming">
        <h1></h1>
    </div>
</div>

<div class = "container">
    <div class="inner-container">
        <div>
            <p id="Event" class="lead font-weight-bold"></p>
        </div>
        <div class="row">
        </div>
{#        <div class="card">#}
{#            <div class="card-body flex-container">#}
{#                <div class="card-image">#}
{#                    <img src="">#}
{#                </div>#}
{#                <div>#}
{#                    <div class="card-title">#}
{##}
{#                    </div>#}
{#                    <div class="card-handler">#}
{##}
{#                    </div>#}
{#                    <div class="card-text">#}
{##}
{#                    </div>#}
{#                    <div class="card-text">#}
{##}
{#                    </div>#}
{#                    <div class="card-text">#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>

    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>

    <script type="text/javascript"src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="application/javascript">
        $.ajax(
                {
                    url: "/user_events/get-user-events",
                    method: "GET",
                    dataType: "json",
                    success: function(response) {
                        console.log("SUKSES");
                        var event_number = response.event_number;
                        $('#Event').text("Your Registered Events: " + event_number);

                        var user_events = response.user_events;
                        for (var i = 0; i < user_events.length; i++) {
                            var event = user_events[i];
                            var title = event.title;
                            var headline = event.headline;
                            var organizer = event.organizer;
                            var image = event.image;
                            var date = event.date;
                            var html = "<div class='col-md-4 style='margin-bottom:10px'>" +
                                "<div class='card' style='width: 18rem; margin:auto'>" +
                                "<div class='card-image'>" +
                                "<img src=" + image + " width='286px' height='200px'>" +
                                "</div>" +
                                "<div>" +
                                "<div class='card-title'>" +
                                "Nama Event: " + title +
                                "</div>" +
                                "<div class='card-text'>" +
                                "Headline: " + headline +
                                "</div>" +
                                "<div class='card-handler'>" +
                                "Penyelenggara: " + organizer +
                                "</div>" +
                                "<div class='card-text'>" +
                                "Tanggal: " + date +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>";
                            $('.row').append(html);
                        }
                    }
                }
        );
    </script>
</div>
{% endblock content %}