body {
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
}

.card {
    margin: 80px auto;
    width: 95%;
}

.card-title {
    color: #000000;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.card-handler {
    color: #949393;
    font-size: 18px;
    text-align: left;
}

.card-text {
    color: #000000;
    font-size: 20px;
    text-align: left;
}

.card-image {
    height: 2;
    width: 2;
}

.card-sub-image {
    height: 2rem;
    width: 2rem;
}

.container {
    margin: 50px auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.status-form {
    margin: 0 auto;
    max-width: 800px;
    padding: 15px;
    width: 100%;
}

.register {
    background-color: #949393;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.register:hover {
    background-color: white; /* Green */
    color: w#949393;
}

#Event {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

#Description {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

#upcoming {
    font-weight: bold;
    color: #000000;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px yellow;
}