{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header>
        {% include 'navbar.html' %}
    </header>
<div class="content text-center">
    <div class="container" id="upcoming">
        <h1>Upcoming Event</h1>
    </div>
</div>

<div class = "container">
    <div class="row">
        {% for Event in events %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body flex-container">
                        <div class="card-image">
                            <img src="{{ Event.image }}" width="200px" height="200px">
                        </div>
                        <div>
                            <div class="card-title">
                                <p>{{ Event.title }}</p>
                            </div>
                            <div class="card-handler">
                                <p>{{ Event.organizer }}</p>
                            </div>
                            <div class="card-text">
                                <p>{{ Event.description }}</p>
                            </div>
                            <div class="card-text">
                                <p>{{ Event.date }}</p>
                            </div>
                            <div class="card-text">
                                <p>{{ Event.place }}</p>
                            </div>
                            <a class="register btn btn-primary active" role="button" aria-pressed="true"
                               href="{% url 'event_regist:event-detail' event_id=Event.id %}">
                                REGISTER
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</div>
{% endblock content %}
