<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI-Student Union</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .coverimg {
            background-image: url("https://preview.ibb.co/kyyYGL/logo3.png");

            /* Full height */
            height: 100%;
            width: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bgimg {
            background-image: url("https://image.ibb.co/d52fvf/background.png");
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

    <header>{% include 'navbar.html' %}</header>

     <!--content-->
    <div class="coverimg">
        <br><br><br><br>

        <h1 style="text-align:center;text-shadow: 3px 3px #fdd730;font-size: 72px;
        font-weight:900;"> Welcome to </h1>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div class="bgimg">
        <br><br><br>

        <h1 style="text-shadow: 3px 3px #fdd730; font-size: 50px; font-weight:900; padding-left:5vw;
        padding-top:1vw"> Upcoming Events </h1>

        <div class="w3-container"  style="padding-left:5vw; padding-right:5vw">
            {% if events %}
            {% for event in events %}
                <div class="w3-third" style="text-align:center">
                    <a href="{% url 'event_regist:event-detail' event_id=event.id %}">
                        <img src="{{ event.image }}" style="width:100%; height:auto">
                    </a>
                    Held by: {{ event.organizer }}
                    <br><br>
                    <strong>{{ event.title }}</strong><br>
                    "{{ event.headline }}"
                    <br><br>
                    <img src="https://image.ibb.co/gGg8BL/date.png" style="height:5vw; width:auto">
                    {{ event.date }}
                    <br><br>
                    <img src="https://image.ibb.co/enrarL/location.png" style="height:5vw; width:auto">
                    {{ event.place }}
                </div>
                {% endfor %}
            {% else %}
                <div class="w3-container" style=" text-align:center; padding:20vw">
                    <h1 style=" font-size: 30px; font-weight:900;">No Upcoming Events </h1>
                </div>
            {% endif %}
        </div>

        <br><br><br>
        <div style="float:right; padding-right:3vw">
            <a href="{% url 'events:index' %}">See More Events</a> <!--link ke page events -->
        </div>
        <br><br>
    </div>

    <div class="bgimg">
        <br><br><br>
        <!-- nanti news taro sini -->
        <h1 style="text-shadow: 3px 3px #fdd730; font-size: 50px; font-weight:900; padding-left:5vw;
        padding-top:1vw"> Latest News </h1><br><br>

        <div class="w3-container"  style="padding-left:5vw; padding-right:5vw">
            {% if news %}
                {% for news in news %}
                <div class="w3-third" style="text-align:left">
                    <a href="{% url 'news:news_detail' news_id=news.id %}">
                        <img src="{{ news.link_image }}" style="width:80%; height:auto"><br>
                    </a>
                    <strong style="font-size:27px">{{ news.judul }}</strong><br>
                    <small>{{ news.date_published }}</small>
                    <img src="https://image.ibb.co/chmx5f/bulat.png" style="width:10px; height:auto">
                    {{ news.author }}
                    <br>

                    "{{ news.headline }}"
                    <br><br>

                    <br><br>
                </div>
                {% endfor %}
            {% else %}
                <div class="w3-container" style=" text-align:center; padding:20vw">
                    <h1 style=" font-size: 30px; font-weight:900;"> No News </h1>
                </div>
            {% endif %}
        </div>
        <div style="float:right; padding-right:3vw">
            <a href="{% url 'news:news_list' %}">See More News</a> <!--link ke page events -->
        </div>
    </div>
    <br><br>

    <footer>
        {% include 'footer.html' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
