<!doctype html>
<head>
    <style>
        body {
            background-image: url("https://image.ibb.co/d52fvf/background.png");
            background-repeat: no-repeat;
            margin: auto;
        }

        .bg-dark {
            background-color: #5D5D5D!important;
        }
    </style>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'events:index' %}">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'news:news_list' %}">News</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_events:user_events' %}">Your Events</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile:profile' %}">About Us</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/">UI Student Union</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            <form class="form-inline" action="{% url 'search-event' %}" method="GET" accept-charset="UTF-8">
                <button type="submit" style="margin-right: 10px">
                    <img src="https://image.ibb.co/g8Nn5f/search-bar.png" width="30px" height="30px">
                </button>
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Cari event" aria-label="Search">
            </form>

            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://image.ibb.co/hdOid0/profile.png" width="30px" height="30px">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Sign Out</a>
                    </div>
                </div>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_auth:signup' %}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>