<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
    .bgimg {
        background-image: url("https://image.ibb.co/d52fvf/background.png");
        background-repeat: no-repeat;
    }
    body{
        font-family: Arial;
    }
    .login-redirect{
        margin: 1em;
        margin-right: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 11vw;
        padding-top: 5px;
    }
    .login-button{
        color: black;
        margin: 1em;
        margin-right: 2em;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        border:1px;
        border-style:solid;
        border-color:black;
        font-weight: bold;
        font-size: 14px;
        width: 8vw;
        text-align:center;
        cursor:default;
        border-radius: 5px;
    }
    .login-button:hover{
        background-color: #FDD831;
        color: black;
        border: 1px solid black;
    }
</style>
<body>
    <div class="w3-center">
        {% csrf_token %}
        <div class="w3-center w3-onethird" style="padding:3vw;">
            <h1 style="text-shadow: 3px 3px #fdd730; font-weight:900; font-size: 5vw;"> Hello,  </h1>
        </div>
        <div class="w3-center w3-onethird" style="padding:3vw;">
            <h1 style="text-shadow: 3px 3px #fdd730; font-weight:900; font-size: 5vw;">{{ user.username }}</h1>
        </div>
        <div class="w3-center w3-onethird" style="padding:3vw;">
            <button type="button" class="login-button">
            <a  href="/" style="color:black">Continue</a></button>
        </div>
    </div>

    <script type="text/javascript">
        var redirect = function () {
            window.location.href = '/user_events';
        };
        setTimeout(redirect, 3000);
    </script>
</body>
</html>
