<!DOCTYPE html>
<html>
<title>UI-Student Union</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body{
        font-family: Arial;
    }
    .login-redirect{
        margin: 1em;
        margin-right: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 15vw;
        padding-top: 5px;
    }
    .login-button{
        margin: 1em;
        margin-right: 2em;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        border:1px;
        border-style:solid;
        border-color:black;
        font-weight: bold;
        font-size: 14px;
        width: 12vw;
        text-align:center;
        cursor:default;
        border-radius: 5px;
        }

    .login-button:hover{
        background-color: #FDD831;
        color: black;
        border: 1px solid black;
    }

    input[type=text], select, textarea {
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    input[type=password], select, textarea {
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    input[type=submit] {
    background-color: #5D5D5D;
    color: white;
    border: 1px solid black;
    margin-top: 13px;
    padding: 8px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    }

    input[type=submit]:hover {
        background-color: #FDD831;
        color: black;
        border: 1px solid black;
    }

    .loginBtn {
        box-sizing: border-box;
        position: relative;
        padding: 0 15px 0 46px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
    }

    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }

    .loginBtn:focus {
        outline: none;
    }

    .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }

    .loginBtn--google {
      background: #DD4B39;
    }

    .loginBtn--google:before {
      border-right: #BB3F30 1px solid;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }

    .loginBtn--google:hover, .loginBtn--google:focus {
      background: #E74B37;
    }

</style>

<body>
    <div>
        <div class="login-redirect">
            Don't have an account?
        </div>
        <a href="{% url 'user_auth:signup' %}">
            <div class="login-button">
                GET STARTED
            </div>
        </a>
        <br>


    <div style="text-align:left; padding-left: 10vw">
        <br><br>
        <h1 style="text-shadow: 3px 3px #fdd730; font-weight:900;"> SIGN IN </h1>
        <br>
        <div style="text-align:left; padding-left: 7vw; font-size: 25px;">
            <form method = "post">
                {% csrf_token %}
                {% load widget_tweaks %}
                {% for field in form.visible_fields %}
                {{ field.label_tag }}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                <div class="form-group" >

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback" style="text-align:left; ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}


        </div>
                <br>
                {% endfor %}
                <input type="submit" value="SUBMIT">
            </form>

            <button class="loginBtn loginBtn--google">
                <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
            </button>
        </div>

    </div>

    </div>
</body>