<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
    body{
        font-family: Arial;
    }
    .login-redirect{
        margin: 1em;
        margin-right: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 11vw;
        padding-top: 5px;
    }
    .login-button{
        color: black;
        margin: 1em;
        margin-right: 2em;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        border:1px;
        border-style:solid;
        border-color:black;
        font-weight: bold;
        font-size: 14px;
        width: 8vw;
        text-align:center;
        cursor:default;
        border-radius: 5px;
    }
    .login-button:hover{
        background-color: #FDD831;
        color: black;
        border: 1px solid black;
    }

    input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    text-align: center;
    }

    input[type=date], select, textarea {
        width: 50%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        padding-left: 13vw;
    }

    input[type=password], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    text-align:center;
    }

    input[type=submit] {
    background-color: #5D5D5D;
    color: white;
    border: 1px solid black;
    margin-top: 13px;
    padding: 8px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    }

    input[type=submit]:hover {
        background-color: #FDD831;
        color: black;
        border: 1px solid black;
    }

    input[type=email], select, textarea {
        width: 50%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        text-align: center;
    }


</style>
<body>
    <div>
        <div class="login-redirect">
            Already have an account?
        </div>
        <a href="{% url 'login' %}">
            <div class="login-button">
                SIGN IN</div>
            </div>
        </a>
        <br>

    <div style="text-align:center;">
        <br><br>
        <h1 style="text-shadow: 3px 3px #fdd730; font-weight:900;"> CREATE ACCOUNT </h1>
        <br><br>
        <form method="post">
            {% csrf_token %}
            {% load widget_tweaks %}
            {% for field in form.visible_fields %}
            {{ field.label_tag }}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            <div class="form-group" style="padding-left:33vw">

                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback" style="text-align:left; padding-left:10vw;">
                            {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}


    </div>
            <br>
            {% endfor %}
            <input type="submit" value="SUBMIT"></input>

        </form>
    </div>
    <br><br><br>
</body>
</html>
