<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> UI Student Union </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<style>

	.container {
		background-repeat: no-repeat;
		background-size: auto;
		text-align: center;
	}
	.heading_duotone{
		font-size: 72px;
		color: #000000;
		text-shadow: 4px 6px #FDD831;
	}
	.news {
		text-align : center;
		font-family: Arial;
	}
	.photo > img{
		height:327px;
		width:491px;
	}
	.detail {

		text-decoration: none;
		color:black;
	}

	a:hover {
		text-decoration : none;
	}

	.full-intro{
		font-size: 18px;
	}

	.findoutmore{
		font-size: 18px;

	}

</style>


<body>

	<header> {% include 'navbar.html' %} </header>

	<div class="container">
		<h2 class = "heading_duotone"> Latest News </h2>
		<!-- Containing news 1 -->
		{% if list_news %}
			{% for news in list_news %}
				<article class="news">
					<a href ="{% url 'news:news_detail' news_id=news.id %}">
						<div class = "photo">
							<img src="{{ news.link_image }}" border="0">
						</div>
						<div class="detail">
							<p style = "font-size : 28px"><b> {{ news.judul }} </b></p>
							<p style="font-size: 14px">
								<span class = "date"> {{news.date_published}} • </span>
								<span class = "category"> {{news.author}}</span>
							</p>
							<p class="full-intro">
								{{news.headline}}
							</p>
							<!-- <p><I>Farhan Azmi, I Kade Hendrick, Aditya Pratama +1000 others liked this news</I></p> -->
							<p>
								<span class="findoutmore"><b> Find out more </b></span>
							</p>
						</div>
					</a>

				</article>
			{% endfor %}
		{% else %}
			<div class="w3-container" style=" text-align:center; padding:20vw">
				<h1 style=" font-size: 30px; font-weight:900;">No News </h1>
			</div>
		{% endif %}
	</div>

	<footer> {% include 'footer.html'%} </footer>
</body>

</html>
