<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Hendrick Putra </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>


<style>

	.body{
		font-family: "arial";
	}

	.news {
		text-align : center;
	}
	.photo > img{
		height:510px;
		width:766px;
	}
	.content{
		font-size: 18px;
	}

</style>


<body>
	<header> {% include 'navbar.html'%} </header>
	<div class="container">
			<article class="news">
					<div class = "judul">
						<p style="font-size: 35px"><b> {{news.judul}} </b></p>
					</div>
					<p style="font-size: 24px">
						<span class = "date"> {{news.date_published}} • </span>
						<span class = "category"> {{news.author}}</span>
					</p>
					<div class = "photo">
						<img src="{{ news.link_image }}" border="0">
					</div>
					<div class = "content">
						{{news.konten}}
					</div>
						<!-- <p><I>Farhan Azmi, I Kade Hendrick, Aditya Pratama +1000 others liked this news</I></p> -->
			</article>
	</div>
	<footer> {% include 'footer.html'%}</footer>
</body>

</html>
